	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />


<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<title>Produit</title>
</head>
<body>
	<p></p>
	<div class="container">
		<form thf:action="@{index}" method="get">
			<label>Mot clé:</label> <input type="text" name="motCle"
				th:value="${motCle}" />
			<button class="btn btn-primary">Chercher</button>
		</form>
	</div>
	<div class="container">
		<h3>Liste des produits</h3>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Désignation</th>
					<th>Prix</th>
					<th>Quantité</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p:${listProduits}">
					<td th:text="${p.id}"></td>
					<td th:text="${p.designation}"></td>
					<td th:text="${p.prix}"></td>
					<td th:text="${p.quantite}"></td>
					<td><a th:href="@{delete(id=${p.id},page=${pageCourante},size=${size},motCle=${motCle})}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container">
		<ul class="nav nav-pills">
			<li th:class="${pageCourante}==${status.index}?'active':''"
				th:each="pa,status:${pages}"><a
				th:href="@{index(page=${status.index},size=${size},motCle=${motCle})}"
				th:text="${status.index}"></a></li>
		</ul>
	</div>
</body>
</html>